body {
	margin: 0;
	padding: 0
}
.container {
	width: 100vw;
	height: 100vh;
	background: gray;
	overflow: hidden
}
.viewport {
	transform: translateX(calc(-100vw * var(--shift)));
	float: left;
	display: flex
}
.viewport section {
	height: 100vh;
	width: 100vw
}
.section1 {
	background: #ff6f69;
}
.section2 {
	background: #ffcc5c;
}
.section3 {
	background: #96ceb4;
}
.section4 {
	background: #87bdd8;
}
.section5 {
	background: #b8a9c9;
}
.transition {
	transition: .3s
}